@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  min-height: 100%;
  background: linear-gradient(
    135deg,
    #D6ECE8 0%,
    #F1F5F9 45%,
    #FFD9BF 100%
  );
  scroll-behavior: smooth;  
}


.nav {
  padding: 13px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 17px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(15px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 50;
}